[profile.default]
src = "src"
out = "out"
libs = ["lib"]

auto_detect_remappings = false # remappings seem to cause problems
optimizer = true
optimizer_runs = 200
# via_ir = true
gas_limit = "18446744073709551615"
fuzz.gas_report_samples = 64       # gas report doesn't need so many test cases

deny = "warnings"

fs_permissions = [
  { access = "read", path = "./" },
  { access = "read-write", path = "./results" },
  { access = "read-write", path = "./deployments" },
  { access = "read-write", path = "./tmp" },
]

#ignored_error_codes=["transient-storage"]
ignored_warnings_from = [
  "lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts/utils/StorageSlot.sol",
]

gas_reports_ignore = [
  "ERC20Mock",
  "ERC1967Proxy",
  "DerivedBaoOwnable",
  "DerivedBaoOwnableRoles",
  "DerivedBaoOwnableRoles_v2",
  "DerivedBaoOwnableTransferrable",
  "DerivedBaoOwnableTransferrableRoles",
  "DerivedBaoOwnable_v2",
  "DerivedOwnable",
  "DerivedOwnableRoles",
  "DerivedTokenHolder",
  "BaoOwnableAdapter",
  "MockImplementationWithState",
]


[etherscan]
mainnet = { key = "${ETHERSCAN_KEY}" }

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"
mainnet = "${MAINNET_RPC_URL}"
local = "http://localhost:8545"


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
